.instrucoes-ios {
    background: #ffffff;
    border: 1px solid #334e68;
    border-radius: 12px;
    padding: 15px;
    text-align: left;
    font-size: 0.9rem;
    color: #bcccdc;
    margin-bottom: 15px;
}

.instrucoes-ios ol {
    margin-left: 20px;
    margin-top: 8px;
    line-height: 1.5;
}

.icone-share {
    font-size: 1.1rem;
    color: #317efb;
    font-weight: bold;
}
